.main {
	border: 1px solid #000;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.card {
	// place-items: center;
	margin: 0 auto;
	width: max(50rem);
	padding: 4rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
