.bg {
	// create a background div styles with dark grey color and textured background
	background: #2d2d2d;
	background: -webkit-linear-gradient(to right, #2d2d2d, #2d2d2d);
	background: linear-gradient(to right, #2d2d2d, #2d2d2d);
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.title {
	font-size: 10rem;
	background: linear-gradient(to right, #ff0080, #ff7300);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: "Roboto", sans-serif;

	font-weight: bold;

	// create an animation for the title to move the  background gradient from left to right
	animation: move-bg-gradient 2s ease-in-out infinite;
}

// create an animation for the title to move the  background gradient from left to right
@keyframes move-bg-gradient {
	0% {
		opacity: 1;
	}
	30% {
		opacity: 0.75;
	}
}

.subTitle {
	line-height: 1;
	// create a div with colorful text color
	color: #515151;
	// clip the background to the text
	font-size: 4rem;
	font-weight: 600;
	letter-spacing: 0.35ch;
	word-spacing: 1ch;
	text-transform: uppercase;
	margin-bottom: 1rem;
}

.homeBtn {
	padding: 1rem 1.5rem;
	font-size: 2rem;
}
