@import "../../styles/abstracts/abstracts";

.bgred {
	background: #000;
}

.entry {
	// margin: auto;
	// max-width: 80rem;
	padding: 1rem calc((100vw - 120rem) / 2);
	// padding: 1rem;
	// (100vw - desiredContentWidth)/2
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	// padding: 1rem;
	background: $lite;
	border-radius: 0.5rem;

	&Index {
		flex: 0 0 5%;
		// color: royalblue;
	}

	&MWOid {
		// border: 1px dotted saddlebrown;
		flex: 0 0 13%;
		// color: royalblue;
	}

	&ItemName {
		// border: 1px dotted saddlebrown;
		flex: 0 0 30%;
		display: flex;
		gap: 1rem;
		// justify-content: space-between;
		// color: royalblue;
	}

	&Qty {
		flex: 0 0 5%;
		display: flex;
		gap: 1rem;
		// border: 1px dotted saddlebrown;
		// flex: 0 0 35%;
		// color: royalblue;
		border-radius: 0.5rem;
		// background: hsla(0, 0%, 0%, 0.15);

		padding: 0.25em 0.5em;
		&:hover {
			cursor: pointer;
			background: hsla(0, 0%, 0%, 0.45);
		}
	}

	// &ItemId {
	// 	// border: 1px dotted saddlebrown;
	// 	flex: 0 0 14%;
	// 	// color: royalblue;
	// }

	&Application {
		// border: 1px dotted saddlebrown;
		flex: 0 0 20%;
		// color: royalblue;
	}

	&Status {
		// border: 1px dotted saddlebrown;
		flex: 0 0 12%;
		// flex: 0 1 10%;
		display: flex;
		// justify-content: space-between;
		// align-items: center;
		gap: 1rem;
		// color: royalblue;
		padding: 0.25em;
		border-radius: 0.5rem;

		&Icon {
			// border: 1px dotted saddlebrown;
			width: 2rem;
			height: 2rem;
			border-radius: 0.35rem;

			&-notstarted {
				background-color: hsl(0, 80%, 61%);
			}
			&-active {
				background-color: rgb(235, 179, 76);
			}
			&-delivered {
				background-color: rgb(78, 134, 247);
			}
			&-closed {
				background-color: rgb(71, 220, 41);
			}
		}
		&Text {
			flex: 1;
			// text-align: center;
			font-weight: 400;
			transform: translateX(-1rem);
			width: 0;
			opacity: 0;
			transition: 0.2s ease all;
		}
		&:hover {
			background: hsla(0, 0%, 0%, 0.15);
			cursor: pointer;
			*:nth-child(n + 2) {
				transform: translateX(0);
				// background: red;
				width: initial;
				// width: max-content;
				opacity: 1;
			}
		}
	}

	&Controls {
		// border: 1px dotted saddlebrown;
		flex: 0 0 15%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		// align-items: center;
		button {
			border-radius: 0.35rem;
			padding: 0.65rem;
			// padding: 0.65rem 0.5rem 0.5rem;
			flex-basis: 25%;
			border: 1.5px solid rgb(74, 104, 145);
			box-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.25);
			&:active,
			&:hover {
				cursor: pointer;
			}
			&:hover {
				background-color: hsla(0, 0%, 0%, 15%);
			}
			&:active {
				background-color: hsla(0, 0%, 0%, 45%);
				// background-color: darken($color: black, $amount: 0.01);
			}
		}
	}
}
