.po {
	// color: black;

	&Header {
		display: grid;
		grid-template-rows: 20rem;
		// grid-template-columns: 30rem 1fr 15rem;
		grid-template-columns: 30rem 1fr;
		gap: 2rem;
		// grid-template-columns: subgrid;
		// grid-template-areas: subgrid;
		// grid-template-areas: "overview meta controls";
		grid-template-areas: "overview meta";
		background: #000;

		padding: 1rem;
		// grid
		.pair {
			// color: darkblue !important;
			// color: red !important;
			flex-direction: column;
			gap: 0rem;
			justify-content: center;
			flex: 1;

			&Field {
				// font-size: 1.5rem;
				flex: initial;
			}
			&Value {
			}
		}
	}

	&Overview {
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
		gap: 0.5rem;
		grid-area: overview;
		padding: 1rem;
	}

	&Meta {
		grid-area: meta;

		// display: grid;
		// grid-template-columns: 1fr 1fr;
		// grid-template-rows: repeat(3, 1fr);
		gap: 0.5rem;
		display: flex;
		flex-direction: column;
		color: #222;
		padding: 1rem;

		// .pair {
		// 	grid-column: 1/2;
		// }
	}
	&Controls {
		// background: crimson;
		grid-area: controls;
		color: #222;
	}
}
