@import "../../../styles/abstracts/abstracts";

.po {
	// color: black;

	&Header {
		display: grid;
		grid-template-rows: 20rem;
		grid-template-columns: 30rem 1fr;
		gap: 2rem;

		// grid-template-columns: 30rem 1fr 15rem;
		grid-template-areas: "overview meta";

		// padding: 1rem;
		// grid
		.pair {
			flex-direction: column;
			gap: 0rem;
			justify-content: center;
			flex: 1;

			&Field {
				// font-size: 1.5rem;
				flex: initial;
			}
			&Value {
			}
		}
	}

	&Overview {
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
		padding: 1rem 2rem;

		gap: 0.5rem;
		grid-area: overview;

		border-radius: 0.5rem;
		box-shadow: 0 0 3rem $nuteLite5;
		background: $lite;
		// padding: 1rem;
		// border: 1px solid darkorange;
	}

	&Meta {
		// border: 1px solid darkorange;
		grid-area: meta;
		padding: 1rem 2rem;

		border-radius: 0.5rem;
		box-shadow: 0 0 3rem $nuteLite5;
		background: $lite;

		// display: grid;
		// grid-template-columns: 1fr 1fr;
		// grid-template-rows: repeat(3, 1fr);
		gap: 0.5rem;
		display: flex;
		flex-direction: column;
		color: #222;
		// padding: 1rem;

		// .pair {
		// 	grid-column: 1/2;
		// }
	}
	&Controls {
		// background: crimson;
		grid-area: controls;
		color: #222;
	}
}
