.po {
	// color: black;

	&Header {
		display: grid;
		grid-template-columns: subgrid;
		grid-template-areas: subgrid;
		// grid-template-areas: "overview meta controls";
	}
	// grid

	&Overview {
		grid-column: 0 / 1;
		grid-row: 0 / 1;
		// grid-area: overview;
		background: grey;
	}

	&Meta {
		grid-area: meta;
		color: #222;
	}
	&Controls {
		grid-area: controls;
		color: #222;
	}
}

.pair {
	display: flex;
	gap: 1rem;
	&Field {
		flex: 0 0 10rem;
	}
	&Value {
	}
}
