@import "../../styles/abstracts/abstracts";

.detail {
	& + & {
		margin-top: 1rem;
	}

	&Header {
		// background: $orangeAccent !important; // doesn't work
	}
	&Title {
		font-size: 1.6rem;
		padding: 1rem 1.5rem;
		background: $nuteLite7;

		&:hover {
			background: $nuteLite5;
		}
		&Active {
			background: $orangeAccent;
			&:hover {
				background: $orangeAccentDark1;
			}
		}
		&Empty {
			background: $redAccentLite1;
			cursor: not-allowed;
			&:hover {
				background: $redAccent;
			}
		}
		// border: 1px solid $nuteLite4;
	}
	&Body {
		font-weight: 500;
		// font-size: 1.5rem;
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding-left: 1.5rem;
		// border: 1px dashed dimgrey;
	}
}
