@import "../../styles/abstracts/abstracts";

.detail {
	& + & {
		margin-top: 1rem;
	}

	&Title {
		font-size: 1.6rem;
		padding: 1rem 1.5rem;
		background: $nuteLite7;

		&:hover {
			background: $nuteLite5;
		}

		&Empty {
			color: $redAccentDark1;
			cursor: not-allowed;
			&:hover {
				color: $dark;
				background: $redAccent;
			}
		}
		// border: 1px solid $nuteLite4;
	}

	&[open] &Title {
		// background: #000;
		background: $orangeAccent;
		&:hover {
			background: $orangeAccentDark1;
		}

		&Empty {
			background: $nuteLite7;
			color: $redAccentLite1;

			&:hover {
				background: $redAccent;
				color: $dark;
			}
		}
	}

	&Body {
		font-weight: 500;
		// font-size: 1.5rem;
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding-left: 1.5rem;
		// border: 1px dashed dimgrey;
	}
}
