@import "../../styles/abstracts/abstracts";

.detailItem {
	cursor: pointer;
	padding: 1rem;
	padding-left: 1.5rem;
	// background: $nuteLite5;

	// &Active {
	// }
	// &:hover {
	// 	background: $greenAccentLite1;
	// }

	&:hover {
		// color: $redAccentLite1;
		background: $nuteLite6;
	}

	&Active {
		color: $nuteLite6;
		background: $greenAccent;
		&:hover {
			background: $greenAccentDark1;
		}
		// background: $nuteLite6;
		// color: $greenAccent;
	}
}
