@import "../../styles/abstracts/abstracts";
.entry {
	// margin: auto;
	// max-width: 80rem;
	padding: 1rem 2rem;
	// (100vw - desiredContentWidth)/2
	// padding: 1rem calc((100vw - 120rem) / 2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	// padding: 1rem;
	background: $nuteLite7;
	border-radius: 0.5rem;

	&Index {
		// border: 1px dotted saddlebrown;
		flex: 0 0 5%;
		// color: royalblue;
	}

	&Type {
		// border: 1px dotted saddlebrown;
		flex: 0 0 5%;
		// color: royalblue;
	}

	&Id {
		// border: 1px dotted saddlebrown;
		flex: 0 0 15%;
		// color: royalblue;
	}

	&ItemList {
		// border: 1px dotted saddlebrown;
		flex: 0 1 44%;
		display: flex;
		gap: 1rem;
		// justify-content: space-between;
		// color: royalblue;
	}

	&Item {
		// border: 1px dotted saddlebrown;
		// flex: 0 0 35%;
		// color: royalblue;
		padding: 0.25em 0.5em;
		border-radius: 0.5rem;
		// background: hsla(0, 0%, 0%, 0.15);
		background: $nuteLite5;

		&Empty {
			color: $redAccent;
		}

		&:hover {
			cursor: pointer;
			background: $nuteLite4;
			// background: $nuteLite1;
		}
	}

	&Status {
		// border: 1px dotted saddlebrown;
		flex: 0 0 11%;
		// flex: 0 1 10%;
		display: flex;
		// justify-content: space-between;
		// align-items: center;
		gap: 1rem;
		// color: royalblue;
		padding: 0.25em;
		border-radius: 0.5rem;

		&Icon {
			// border: 1px dotted saddlebrown;
			width: 2rem;
			height: 2rem;
			border-radius: 0.35rem;

			&-active {
				background-color: $orangeAccent;
			}
			&-delivered {
				background-color: $prime;
			}
			&-closed {
				background-color: $greenAccent;
			}
		}
		&Text {
			flex: 1;
			// text-align: center;
			font-weight: 400;
			transform: translateX(-1rem);
			width: 0;
			opacity: 0;
			transition: 0.2s ease all;
		}
		&:hover {
			background: $nuteLite5;
			cursor: pointer;
			*:nth-child(n + 2) {
				transform: translateX(0);
				// background: red;
				width: initial;
				// width: max-content;
				opacity: 1;
			}
		}
	}

	&Controls {
		// border: 1px dotted saddlebrown;
		flex: 0 0 20%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		// align-items: center;
		button {
			flex-basis: 20%;
			padding: 0.65rem;

			border-radius: 0.35rem;
			box-shadow: 0.2rem 0.2rem 1rem $nuteLite4;
			transition: 0.2s ease all;

			&:active,
			&:hover {
				box-shadow: 0.2rem 0.2rem 0.2rem $nuteLite4;
				cursor: pointer;
			}
			&:hover {
				// background-color: $nuteLite4;
			}
			&:active {
				// background-color: $nuteLite2;
				// background-color: darken($color: black, $amount: 0.01);
			}
		}
	}
}
