@import "../../../styles/abstracts/abstracts";

// color: black;

.header {
	display: grid;
	grid-template-rows: 20rem;
	grid-template-columns: 30rem 1fr 17.5rem;
	gap: calc(2 / 16 * 1rem);

	// grid-template-columns: 30rem 1fr 15rem;
	grid-template-areas: "overview meta controls";

	// padding: 1rem;
	// grid
	.pair {
		// TODO: does it need to be nested in Header
		flex-direction: column;
		gap: 0rem;
		justify-content: center;
		flex: 1;

		&Field {
			// font-size: 1.5rem;
			flex: initial;
		}
		&Value {
		}
	}
}

.overview {
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	padding: 1rem 2rem;

	gap: 0.5rem;
	grid-area: overview;

	border-radius: 0.5rem;
	box-shadow: 0 0 3rem $nuteLite5;
	background: $lite;
	// padding: 1rem;
	// border: 1px solid darkorange;
}

.meta {
	// border: 1px solid darkorange;
	grid-area: meta;
	padding: 1rem 2rem;

	border-radius: 0.5rem;
	box-shadow: 0 0 3rem $nuteLite5;
	background: $lite;

	// display: grid;
	// grid-template-columns: 1fr 1fr;
	// grid-template-rows: repeat(3, 1fr);
	gap: 0.5rem;
	display: flex;
	flex-direction: column;
	color: #222;
	// padding: 1rem;

	// .pair {
	// 	grid-column: 1/2;
	// }
}
.controls {
	// background: crimson;
	grid-area: controls;

	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	padding: 1rem 2rem;
	gap: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 3rem $nuteLite5;
	background: $lite;

	// color: #222;
}
