@import "../../../styles/abstracts/abstracts";

%card {
	border-radius: 0.5rem;
	box-shadow: 0 0 3rem $nuteLite5;
	background: $lite;
}

.overview {
	justify-content: space-between;

	@extend %card;
}

.meta {
	justify-content: space-between;
	@extend %card;
}

.controls {
	justify-content: space-between;
	@extend %card;
}
