@import "../../../../styles/abstracts/abstracts";

.assemblies {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
}

.assembly {
	display: flex;
	// @extend %cardShadow1;
	// justify-content: center;
	align-items: center;
	gap: 3rem;
	padding: 0.75rem 1rem;
	&:hover {
		background-color: $nuteLite5;
	}
	& + & {
		// border-top: 1px solid $nute;
	}

	&_index {
		flex: 0.5;
	}
	&_id {
		flex: 1;
	}
	&_nomenclature {
		flex: 4;
	}
	&_parent {
		flex: 1;
	}
}
