// Form
// FormControl
// FormKey = FormLabel
// FormField
// FormField.FormFieldError

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	&Submit {
		background: #000;
		color: whitesmoke;
		padding: 0.5rem 1rem;
	}

	&Control {
		display: grid;
		// flex-direction: column;
		gap: 0.5rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content 1fr;
		grid-template-areas:
			"caption error"
			"field field";
		// flex-wrap: wrap;

		// & + & {
		// 	margin-top: 1rem;
		// }
	}
	&Key {
		// all labels
		grid-area: caption;
		color: teal;
		// background: #000;
		// flex: 0 0 30%;
		// flex: 1;
	}
	&Field {
		// all input tags
		grid-area: field;
		padding: 0.5rem;
		// flex: 0 0 70%;
		// border: 1px solid green;

		// flex: 3;
	}
	&Error {
		grid-area: error;
		justify-self: end;
		color: red;
		// flex: 1 0 10%;
		// flex: 0.5;
	}
	&FieldError {
		// touched & errors input
		border: 1px solid crimson;
	}
	&FieldArea {
		// text area
	}
	&FieldList {
		// Select Tag
		&Item {
			// Option Tag (of Select Tag)
		}
	}

	&FieldGroup {
		// Group for radio & checkbox options (collection of Labels and Inputs)
		display: flex;
		flex-direction: column;

		// border: 1px solid green;
		&Item {
			// Radio/Checkbox Pair of Labels and Inputs
			display: flex;
			gap: 1rem;
			align-items: center;
		}
		&ItemLabel {
			// Radio/Checkbox Labels
		}
		&ItemInput {
			// Radio/Checkbox Inputs
		}
	}
}

// FormRadioControl // may be assigned to .FormField
// FormRadioButton
// FormRadioLabel

// FormCheckboxControl // may be assigned to .FormField
// FormCheckboxButton
// FormCheckboxLabel

// FormSelect
// FormDropdown
