.entry {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	// background: red;
	// color: red;
	&Index {
		flex: 1;
	}
	&Nomenclature {
		flex: 4;
	}
	&Id {
		flex: 5;
	}
	&Qty {
		flex: 1.5;
	}
}
