@import "../../styles/abstracts/abstracts";

.formik {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	color: whitesmoke;

	&Group {
		display: flex;
		gap: 1rem;

		& > * {
			padding: 0.65rem 1.25rem;
		}
	}

	&Controls {
		display: flex;
		gap: 1rem;
		// justify-content: center;
		// align-self: flex-start;
		// align-items: flex-start;
		// display: flex;
		// gap: 1rem;
		// color: whitesmoke;
	}
	&Field {
		flex: 0 0 30%;
		background: transparent;
		// width: 30%;
	}
	&Value {
		flex: 0 0 50%;
		background: transparent;
	}
	&Button {
		// flex: 1 1 0%;
		padding: 0.65rem 1.25rem;
		// padding: 0.5rem 1rem;
		background: #000;
		&:hover {
			background: #000;
			color: cornflowerblue;
		}

		&_delete {
			flex: 1;
			&:hover {
				color: $redAccent;
			}
		}
		&_submit {
			flex: 0 0 32%;
		}
		&_subLevel {
		}
		&_addPair {
		}
	}
	// color: blue;
}

.form-control {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

	label {
		// color: red;
		flex: 1;
	}

	input {
		flex: 3;
		// color: yellow;
	}
	select {
		flex: 3;
	}
	textarea {
		flex: 3;
	}

	.field-error {
		flex: 0 0 100%;
		color: crimson;
	}
	// background: #000;
	& + & {
		margin-top: 1rem;
	}
}
