.entry {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	// background: red;
	// color: red;
	&Index {
		flex: 1;
	}
	&Id {
		flex: 4;
	}
	&Other {
		flex: 5;
	}
	&Qty {
		flex: 1.5;
	}
	&Commands {
		flex: 2;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;
	}
}
