@import "./abstracts/abstracts";
html,
body,
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: "Roboto", "Raleway", Lato;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
}

a {
	color: inherit;
	text-decoration: none;
}
li {
	list-style: none;
}

button,
input {
	font-family: inherit;
	color: inherit;
	letter-spacing: 0.08em;
	border: 1.5px solid rgb(90, 89, 89);
	border-radius: 0.25rem;
	// padding: 0.2em 0.3em;
	padding: 0.2em;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;

	// border-width: 1.5px;
	// border-color: rgb(90, 89, 89);
	// border-style: solid;
	background-color: inherit;
	&:hover {
		cursor: pointer;
	}
}
input {
	/* color: inherit; */
	// padding: 0.5rem;

	&:disabled {
		// font-weight: 900;
		// color: rgb(197, 64, 64);
		color: white;
		background-color: $red;
		&:hover {
			cursor: not-allowed;
		}
		// background-color: transparent;
	}
}

h1 {
	/* font-size: 1rem; */
}

p {
	/* font-size: 10px; */
	/* font-size: 10px; */
}

.tooltip {
	position: relative;
	&Content {
		position: absolute;
		text-align: left;
		width: 12rem;
		padding: 0.7rem 1.5rem;
		// left: 0;
		// bottom: -4rem;
		left: 4.25rem;
		bottom: 0.25rem;
		z-index: 1;

		border-radius: 0.5rem;
		// font-weight: 300;
		color: #000;
		visibility: hidden;
		opacity: 0;
		// transition: 0.1s ease all;
	}
	&:hover,
	&:focus {
		*:last-child {
			visibility: visible;
			opacity: 1;
			background: hsla(0, 0%, 96%, 75%);
			backdrop-filter: blur(0.2rem);
		}
	}
}
