@import "./abstracts/abstracts";

.dbCardContainer {
	margin-top: 2rem;
	display: grid;
	// flex-direction: row;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	// grid-template-rows: min-content;
	grid-auto-rows: 1fr;

	gap: 2rem;
	// justify-content: center;
	// align-self: center;
	// background: red;
}

.dbCard {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.4rem 2.8rem;
	min-width: 15rem;
	border-radius: 1rem;
	text-align: center;
	// height: 20rem;
	// background: $lite1;
	box-shadow: 0 0 1.5rem rgba($color: $nuteLite2, $alpha: 0.25);

	// font-size: 2rem;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.035em;
	color: $redAccentDark1;

	&:hover {
		background: $redAccentLite1;
		color: $lite1;
	}
}
