.po {
	margin: 3rem auto;
	max-width: 120rem;

	display: grid;
	gap: 2rem;

	grid-template-rows: 20rem 50rem;
	grid-template-columns: 30rem 1fr 15rem;
	grid-template-areas: 
  // overview poDetail poButtons

		"poHeader     poHeader      poHeader"
		"poNavList   poDetails  poDetails";

	background: #000;
	& > * {
		border: 1px solid yellow;
	}

	&Header {
		grid-area: poHeader;
		padding: 1rem;
		background: #bbb;
	}
	&NavList {
		grid-area: poNavList;
	}
	&Details {
		grid-area: poDetails;
	}

	// &ItemList {
	// 	grid-area: poItemList;
	// 	padding: 1rem;
	// }
	// &ItemDetail {
	// 	// will itself contain a grid
	// 	grid-area: poItemDetail;
	// 	padding: 1rem;
	// }
	// &ItemSpecs {
	// 	// grid-area: poItemSpecs;
	// 	// padding: 1rem;
	// }
	// &ItemForm {
	// 	padding: 1rem;
	// 	background: #000;
	// }
}
.pair {
	display: flex;
	gap: 1rem;
	padding: 0.5rem 0;
	// background: red;
	&Field {
		flex: 0 0 20rem;
	}
	&Value {
	}
}
