.po {
	margin: 3rem auto;
	max-width: 120rem;

	display: grid;
	gap: 2rem;

	grid-template-rows: 20rem 50rem;
	grid-template-columns: 30rem 1fr 15rem;
	grid-template-areas: 
  // overview poDetail poButtons

		"poHeader     poHeader      poHeader"
		"poNavList   poDetails  poDetails";

	background: #000;

	&Header {
		grid-area: poHeader;
		background: ghostwhite;
	}
	&NavList {
		grid-area: poNavList;
		// background: ghostwhite;
	}
	&ItemDetail {
		grid-area: poDetails;
		// border: 1px solid yellow;
	}
}
